

@import url('https://fonts.googleapis.com/css?family=Rubik');


/* have body act as component container */
body {
  margin: 0;
}

.heatmap text {
  font-family: 'Rubik', sans-serif;
}

.heatmap .info {
  height: 100px;
  background: #333;
}

.heatmap .chart {
  position: relative;
}

.heatmap .scale-ctrls {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
}

.heatmap .slider {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.heatmap  .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #03bfff;
  cursor: pointer;
}

.heatmap  .slider::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #03bfff;
  cursor: pointer;
}

.heatmap .slider[orient=vertical] {
  height: 5px;
  transform-origin: 25px 40px;
  transform: rotate(90deg);
}

.heatmap .x-slider {
  width: 130px;
  position: absolute;
  top: 0;
  left: 75px;
}


.heatmap .scrollbar {
  position: absolute;
  height: 10px;
  background: #f2f2f2;
}

.heatmap .scroll-handle {
  position: absolute;
  width: 10%;
  height: 10px;
  background: #222;
  user-select: none;
}

.heatmap .loading-bar {
  height: 25px;
  background: #f2f2f2;
  border: 1px solid #ddd;
  margin-bottom: 25px;
}

.heatmap .loading-bar .loading-bar-progress {
  position: relative;
  height: 100%;
  width: 20px;
  background: #606666;
}