

@import url('https://fonts.googleapis.com/css?family=Rubik');


/* have body act as component container */
body {
  margin: 0;
}

.heatmap {
  font-family: 'Rubik', sans-serif;
}

.heatmap > .header {
  background: #333;
  color: #d8d8d8;

}

.heatmap > .header > .logo {
  padding: 20px 55px;
  font-size: 1.5em;
  display: inline-block;
}

.heatmap > .header > .logo small {
  font-size: 0.5em;
}

.heatmap > .header > .info {
  position:absolute;
  margin-left: 200px;
  display: inline-block;
  font-size: .8em;
  top: 10px;
}


.heatmap .chart {
  position: relative;
}

.heatmap .scale-ctrls {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
}

.heatmap .slider {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.heatmap  .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #03bfff;
  cursor: pointer;
}

.heatmap  .slider::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #03bfff;
  cursor: pointer;
}

.heatmap .y-slider {
  height: 5px;
  transform-origin: 25px 40px;
  transform: rotate(90deg);
}

.heatmap .x-slider {
  width: 130px;
  position: absolute;
  top: 0;
  left: 75px;
}


/**
 * scrollbar
 */

.heatmap .scrollbar {
  position: absolute;
  background: #f2f2f2;
}

.heatmap .scrollbar .scroll-handle {
  position: absolute;
  background: #444;
  user-select: none;
}

.heatmap .x-scrollbar {
  height: 13px;
}

.heatmap .x-scrollbar .scroll-handle {
  height: 13px;
}

.heatmap .y-scrollbar {
  width: 13px;
}

.heatmap .y-scrollbar .scroll-handle {
  width: 13px;
}

/**
 *  progress bar
 */

.heatmap .loading-bar {
  height: 25px;
  background: #f2f2f2;
  border: 1px solid #ddd;
  margin-bottom: 25px;
}

.heatmap .loading-bar .loading-bar-progress {
  position: relative;
  height: 100%;
  width: 20px;
  background: #606666;
}

.heatmap .x-axis {
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * tooltip
 */

.heatmap .tooltip {
  position: absolute;
  background: #444;
  color: #fff;
  padding: 10px;
  font-size: .75em;
  border-radius: 5px;
}