
$form-font-size: .8em;

$input-radius: .2rem;
$input-border: 1px solid #ddd;
$input-bg: #fff;
$input-height: 28px;
$color: #333;

button, input[type="text"] {
  font-size: $form-font-size;
  background-color: $input-bg;
  border: $input-border;
  border-radius: $input-radius;
  height: $input-height;
}

.light .btn,
.light input[type="text"]  {
  border: 1px solid #ccc;
}

input[type="text"]:focus {
  border-color: #a6cbe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}


.search-container {
  position: relative;
}

.search-container input {
  padding-left: 33px;
}

.search-container > i > svg {
  position: absolute;
  color: $color;
  top: 4px;
  left: 10px;
  width: 18px;
}

.search {
  padding-left: 10px;
  width: 275px;
}

.reset-btn {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
	display: block;
  right: 0;
	top: 0;
	bottom: 0;
  margin: auto;
}

.reset-btn:hover:after {
  background-color: #666;
}

.reset-btn:after {
	content: "×";
  background-color: #888;
	border-radius: 50%;
  color: #fff;
  font-weight: bold;
  padding: 0px 3px 1px 3px;
}


.btn:hover {
  background-color: #f2f2f2;
}

.btn {
  cursor: pointer;
  color: $color;
}

.btn:hover {
  color: $color;
}

.btn svg {
  fill: $color;
}

button:focus {
  outline: none;
}

