$toolbar-color: #333;
$toolbar-text-color: hsl(0, 0%, 85%);

$toolbar-light-color: #fff;
$toolbar-light-text-color: #333;

> .header {
  display: flex;
  justify-content: left;
  align-items: center;
  background: $toolbar-color;
  color: $toolbar-text-color;
  height: $toolbar-height;
}

> .header.light {
  background: $toolbar-light-color;
  color: $toolbar-light-text-color;
  border-bottom: 1px solid #ccc;
  // box-shadow: 0 3px 10px -6px rgba(0,0,0,0.3);
}

> .header > * {
  margin: 0 15px;
  white-space: nowrap;
}

> .header > .info {
  font-size: .9em;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
