
.heatmap {
  font-family: 'Rubik', sans-serif;
  height: 100%;

  .chart {
    position: relative;
  }

  .webgl-canvas {
    /* must be z-indexed and absolute for safari*/
    z-index: -1;
    position: absolute;
  }

  .tree {
    position: absolute;
  }

  .version, .logo {
    position: absolute;
    text-decoration: none;
    padding: 5px 10px;
    right: 20;
    bottom: 5;
  }

  .version {
    background: #333;
    color: #d8d8d8;
    font-size: .8em;
    bottom: 0;
  }


  @import "./styles.less";  /* file for "catch all" */
  @import "./header.less";
  @import "./forms.less";
  @import "./legend.less";
  @import "./scale-ctrl.less";
  @import "./options.less";
  @import "./scrollbar.less";
  @import "./svg.less";
}


/* force fullscreen mode */
.hmap-fullscreen {
  z-index: 9999 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  border: none !important;
  background: #fff;
  transition: all .5s linear;
}

.hmap-force-z-index {
  z-index: 0 !important;
}